$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

//colors//

$color-grey: #efefef;
$color-med-blue: #4F9DF7;
$color-teal: #15DEB8;
$color-footer: #20262E;

$gradient: ;
